.muestras {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 25px;
}

.muestras img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  display: block;
}

  .btn_carrusel {
    position: absolute;
    
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
  }
  
  .btn_carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn_carrusel:first-of-type {
    left: 10px;
  }
  
  .btn_carrusel:last-of-type {
    right: 10px;
  }
  