.Pre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: solid 1px white;
    margin-right: 10px;
}

.presentacion{
   border-radius: 25px;
   height: 90%;
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;   
   flex-direction: column;
   backdrop-filter: blur(5px);
   background-color: rgb(175, 174, 174);
}

.informacion{
    width: 98%;
    height: 39%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;  
    
}

.cen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 100%;
}

h1{
    font-size: 60px;
    margin-left: 0.6rem;
}

.num{
    font-size: 20px;
    margin-left: 0.6rem;
}

.pin{
    margin-right: 1.5rem;
}

.desc{
    margin-left: 1.5rem;
}

.insta{
    width: 40px;
}
a{
    margin-right: 1.5rem;
}


.muestras img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.muestras{
    height: 57%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.btn_carrusel{
    position: absolute;
    top: 50%;
    background-color: transparent;
   
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
}

button:first-child {
    left: 10px;
  }
  
  button:last-child {
    right: 10px;
  }

.muestras_fotos{
    padding: 20px;
}