.Citas{
    height: 90%;
    overflow-y: auto;
    flex: 1 1 calc(33% - 16px);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center ;  
    
}

h2{
 font-size: 40px;  
}

.Agendamiento{
    height: 70vh;
}

.CarruselContainer{
    position: relative;
    width: 30vh;
    max-width: 800px; 
    margin: 2rem auto;
    padding: 0 1rem;
}

.PR{
    position: absolute;
    font-size: 30px;
}
  
  
